* {
    width: 100%;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

/* --------------------- Página Inicial ------------------------ */

#bodyinicial {
    background-color: transparent;
    display: grid;
    grid-template-columns: 15% 85%;
}

#menu {
    background-image: linear-gradient(to right, #DD2D4A, black);
    display: flex;
    flex-direction: row;
    align-items: center;
}



#homeContent {
   background-color: black;
}

#topoinicial {
    background-color: black;
    height: 13vh;
    display: flex;
    align-items: center;
    text-align: center;
   
}

.itemMenu {
    background-color: #F5A7BC;
    color: black;
    font-weight: bolder;
    text-align: center;
    width: 100px;
    padding: 15px;
    margin: 25px;
}

.itemMenu:hover {
    background-color: black;
    color: #F5A7BC;
}

#logorosa {
    width: 220px;
    
}

#logorosa:hover {

    animation: pulse 3s infinite;
}

#space {
    height: 70vh;
}

#fotoEtitulo {
    background-image: url(imagensbp/gpcoachella.jpg);
    background-size: 100%;    
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;;
}

  
  @keyframes pulse {
    0% {
      transform: scale(0.9);
      opacity: 0.7;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  

#fotoEtitulo:hover {
    background-image: url(imagensbp/coachella2.jpg);
}

#homeTitle {

    background-color: black;
    opacity: 80%;
    height: 20vh;
    text-align: center;
    display: flex;
    align-items: center;
}


#meet {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
    color: #DD2D4A;
}

/* --------------------- Página grupo ------------------------ */

#bodygrupo {
    background-color: black;
    margin-bottom: 100px;
   
}

#groupContent {
    display: grid;
    grid-template-columns: 50% 30%;
}

#menuhorizontal {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.itemMenuHorizontal {
    font-weight: bolder;
    text-align: center;
    align-items: center;
    
    margin: 15px;
    width: 110px;
    padding: 5px;
    color: whitesmoke;
    background-color: #DD2D4A;
}

.itemMenuHorizontal:hover {
    background-color: #F5A7BC;
    color: black;
}

.h1group {
    color: #DD2D4A;
    font-size: 3em;
}

.h2group {
    color: #F5A7BC;
    font-size: large;

}

#groupContentText {
    margin-left: 10vw;
    text-align: justify;
    width: 50vw;
}

#groupSideImg {
    background-image: url(imagensbp/LOCK1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20vw;
}

/* --------------------- Página Integrantes ------------------------ */

#bodyintegrantes {
    background-color: #DD2D4A;
}

#conteudoIntegrantes {
    text-align: center;
}

#cardsIntegrantes {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.itemMenuHorizontalInteg {
    font-weight: bolder;
    text-align: center;
    align-items: center;
    
    margin: 15px;
    width: 110px;
    padding: 5px;
    color: whitesmoke;
    background-color: black;
}

.itemMenuHorizontalInteg:hover {
    background-color: #F5A7BC;
    color: black;
}

.cardIntegrante {
    width: 250px;
    margin: 20px;
    background-color: black;
    padding: 10px;
}

.photocard:hover {
    opacity: 70%;
}
.cardName {
    color: #F5A7BC;
    background-color: black;
    
}

#integTitle {
    font-size: 5.5em;
    font-weight: bolder;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* --------------------- Subágina Integrantes ------------------------ */
.PageIntegContent {
   
   
    display: flex;
    align-items: center;
    text-align: center;
    
    
}

.bodyInteg {
    background-color: #9B60A7;
}

.PageInteg {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.bioInteg {
    margin: 30px;
    width: 40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: large;
}

.bioTitles {
    text-align: justify;
}

.conteudoBio {
    margin-top: 10px;
    text-align: justify;
}

#thumbJennie {
   
    background-image: url(imagensbp/thumbjennie.jpg);
   
    
}

.PageIntegContent {
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#profileImgJennie {
    width: 400px;
    
}

.profileImg {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #9B60A7;
    margin: 0%;
    
}

.spplayer img {
    border-radius: 100%;
    width: 150px;
    margin: 25px;
    animation: pulseSpotify 3s infinite;
}

@keyframes pulseSpotify {
    0% {
      transform: scale(0.9);
      opacity: 0.8;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.9);
      opacity: 1;
    }
  }

#perfilJennie {
    background-color: #9B60A7;
    display: grid;
    grid-template-columns: auto auto auto;
}



#galleryJennie {
    background-color: #9B60A7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menuJennie {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.itemMenuJennie {
    font-size: x-large;
    font-weight: bolder;
    color: black;
    background-color: aliceblue;
    width: 12vw;
    text-align: center;
    padding: 10px;
    margin: 3px;
    border: solid 10px black;
    
}

.conteudoGaleria img {
    width: 300px;

}

.GalleryInteg {

    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;

}

.itemMenuJennie:hover {
    background-color: #420b14;
    color: aliceblue;
}

#thumbRose {
    background-image: url(imagensbp/thumbrose.jpg);
    background-size:cover;

}

.botaovoltar {
    background-color: #9B60A7;
    text-align: center;
    

}

.buttonInteg {
    color: black;
    background-color: aliceblue;
    border: solid 10px black;

}

#thumbJisoo {
    background-image: url(imagensbp/thumbjisoo.jpg);
}

#thumbLisa {
    background-image: url(imagensbp/thumblisa.jpg);
}


/* --------------------- MODA MINIGANE ------------------------ */

#bodyminigame {
    background-color: black;
    /* background-image: linear-gradient(to top, #DD2D4A, black 40%); */
    background-size: cover;
    background-repeat: no-repeat;
    color: #F5A7BC;
   
}

.typing-animation {
    font-size: 3em;
    font-family: monospace;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(100, end);
    border-right: .10em solid white;
    width: 0%;
    animation-fill-mode: forwards;
  }

.typing-animation2 {
    font-size: 2em;
    font-family: monospace;
    text-align: left;
    overflow: hidden;
    white-space: no-wrap;
    animation: typing 7s steps(100, start);
    border-right: .15em solid black;
    width: 0;
    animation-fill-mode: forwards;
  }

#modaTitle {
    padding: 20px;
    background-color: black;
    
   
   
}

.charactersImg {
    width: 200px;
}

.charactersImg:hover {
    animation: pulseSpotify 3s infinite;
}

#minigameThumb {
    display: grid;
    grid-template-columns: 32% 68%;
}

#choose {
    margin-top: 20px;
    font-family: monospace;
    background-color: #DD2D4A;
    width: fit-content;
    animation: piscar 0.6s infinite;
}

#modaCharacters {
    background-color: black;
    
}



@keyframes piscar {
    50% {
        background-color: black; /* Cor de fundo intermitente */
      }
}
  
@keyframes typing {
    
    to { width: 100%; }
}

#celinediv {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:  
    'revista1 logo revista2'
    'revista1 logo2 revista2'
    ;
    text-align: center;
    align-items: center;
}

.revista1 {
    grid-area: revista1;
}

.logo {
    grid-area: logo;
}

.logo2 {
    grid-area: logo2;
}


.revista2 {
    grid-area: revista2;
}

.celine {
    width: 300px;
}

#modaContent {
    padding: 40px;
    background-color: black;
    width: 90vw;
}

.modaTopic {
    margin-bottom: 80px;
}

/* --------------------- capetalismo ------------------------ */

#bodylojinha {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#titleloja {
    text-align: center;
    color: #DD2D4A;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
}

.menuloja {
    font-size: smaller;
}

.produtos img {
    width: 25vw;


}

.produtos {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #9B60A7;
    text-align: center;
}

.produtoloja:hover {
    animation: pulseSpotify 2s infinite;
}

#conteudoLoja {
    display: flex;
    flex-direction: column;

}

/* --------------------- ALBUNS ------------------------ */

#bodyalbuns {
    background-color: #DD2D4A;
    text-align: center;
}

.menualbuns div {
    background-color: black;
    font-size: smaller;
}


#titlealbuns {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    text-align: left;
    margin-left: 70px;


}

#galeriaalbuns img {
    width: 230px;
}


/* --------------------- FAVORITOS ------------------------ */

#bodyfavoritos {
    /* background-image: url(imagensbp/newspaper.jfif); */
    background-color: #F5A7BC;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
}

#coachella2 {
}

.coachimg {
    width: 600px;
    margin: 10px;
}

#coachella {
    background-image: url(imagensbp/coachellafav.jpg);
    background-size: cover;
}

.titlefav {
    color: #420b14;
    font-family: 'League Gothic', sans-serif;
    font-size: 5em;
    text-align: left;
    padding-left: 50px;
    background-color: #F5A7BC;
    

}

.cannes {
    width: 230px;
    margin: 20px;
}

.pages div {
    /* background-color: #F5A7BC; */
    background-image: url(imagensbp/newspaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.FAV {
    width: 103vw;
}

.menufav {
    width:fit-content;
    display: flex;
    text-align: center;
}

.menufav div {
    
}



/* --------------------- CONTATO ------------------------ */

.row {
    display: grid;
    grid-template-columns: auto auto;
    color: #F5A7BC;
    
}

.row h1, h2, h3 {
    font-family: monospace;
    font-size: 2em;
   
}

.row h1 {
    color: #DD2D4A;
    font-size: 5em;
}

#textcontato {
    padding: 10px;
    margin: 10px;
    width: 50vw;
}

#mensagem {
    height: 10vh;
}

#textcontato input {
    width: 300px;
    display: flex;
}

#textcontato button {
    width: 100px;
    margin-top: 20px;
    background-color: #DD2D4A;
}




















