<!-- index.html -->
<html>

    <head>
        <title>Display</title>
        <link rel="stylesheet" href="estilos.css">
    </head>

    <body>
        <div class="carta">
            <div class="foto">
                
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, quasi!
            </p>
        </div>
        <div class="carta">
            <div class="foto">
                
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, quasi!
            </p>
        </div>
    </body>

</html>